@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Pretendard Std Variable", "Pretendard Std", Pretendard, Roboto, "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
  em {
    font-style: normal;
  }
}

.up{
  @apply !text-[#FF6C6C]
}
.dn{
  @apply !text-[#447AEC]
}
.tc001{
  @apply text-[#FC2F2F]
}
.tc002{
  @apply text-[#0263E8]
}
.tc003{
  @apply text-[#18D307]
}
.tc004{
  @apply text-[#5E6367]
}
.tc005{
  @apply text-[#5E6367]
}

.caution{
  @apply !text-[#FC2F2F]
}


/* scroll */
*:not(#container)::-webkit-scrollbar {
  @apply w-[10px]/* 세로스크롤넓이 */  h-[7px] /* 가로스크롤 높이 */  transition-all duration-75
}
/* 스크롤바 트랙 (배경) */
*:not(#container)::-webkit-scrollbar-track {
  @apply bg-[#F2F2F2] rounded-[5px];
}

/* 스크롤바 핸들 (움직이는 부분) */
*:not(#container)::-webkit-scrollbar-thumb {  
  @apply bg-[#0263E8] rounded-[5px] cursor-grab opacity-60
}

/* 핸들에 마우스를 올렸을 때 */
*:not(#container)::-webkit-scrollbar-thumb:hover {
  @apply bg-[#0263E8] w-[15px] h-[10px]
}

/* input */
.custom-text-input {
  @apply border-[1px] border-[#EAEAEA] rounded-[6px] p-2.5 text-[18px] text-[#141414] font-medium
  placeholder:text-[#9E9E9E] placeholder:font-normal
}
/* radio */
.custom-radio-label{
  @apply relative flex items-center cursor-pointer
}
.custom-radio-input{
  @apply absolute top-0 left-[-9999em] opacity-0 w-0 h-0 overflow-hidden
}
.custom-radio-label span{
  @apply h-5 leading-5 pl-[21px] text-[18px] text-[#5E6367] transition-all duration-150
  before:content-[''] before:absolute before:top-[1.5px] before:left-0 before:w-[17px] before:h-[17px] before:rounded-full before:border-[1.2px] before:border-[#404040]
  after:content-[''] after:opacity-0 after:absolute after:top-[4.5px] after:left-[3px] after:w-[11px] after:h-[11px] after:rounded-full after:bg-[#404040]
}
.custom-radio-input:checked + .custom-radio-txt:after{
  @apply opacity-100
}

/* checkbox */
.custom-checkbox-input {
  @apply appearance-none absolute z-[-1] opacity-0 w-0 h-0 overflow-hidden ;
  clip:rect(0,0,0,0)
}
.custom-checkbox-box {
  @apply flex justify-center items-center w-[18px] h-[18px] border-[1px] border-[#DDD] rounded-[2px] 
  relative cursor-pointer align-middle transition-all ease-linear duration-200 
}
.custom-checkbox-input:checked + .custom-checkbox-box {
  @apply bg-[#4285F4] border-[#4285F4]
}
.custom-checkbox-input:checked + .custom-checkbox-box::after {
  @apply content-[''] block w-[5px] h-[10px] border-white border-r-[2px] border-b-[2px] rotate-[45deg] 
  opacity-100 transition-all ease-linear duration-200
}
.custom-checkbox-box::after {
  @apply opacity-[0]
}
.custom-checkbox-label{
  @apply flex justify-center
}

input:disabled{
  @apply bg-[#F7F7F7]
}

/* 활성화 input */
.checkingActive{
  @apply relative flex w-full justify-center items-center
}
.checkingActive label{
  @apply relative block w-[68px] h-[27px] rounded-full overflow-hidden
}
.checkingActive label input{
  @apply absolute top-0 left-[-9999em] opacity-0
}
.checkingActive label input + .custom-checkingActive{
  @apply relative after:w-[42px] after:h-[25px] after:content-[''] after:absolute after:block after:top-[1px] after:left-[1px] after:bg-white after:rounded-full after:cursor-pointer after:transition-all after:duration-150 after:z-20
  before:content-[''] before:z-10 before:absolute before:inset-0 before:w-[68px] before:h-[27px] before:rounded-full before:bg-[#C5C5C5]
}
.checkingActive label input:checked + .custom-checkingActive{
  @apply after:left-[25px] before:bg-[#4285F4]
}